/* Class Selectors */
.header-center {
    justify-content: center;
    text-align: center;
}

.tab-pane,
.accordion {
    margin: 1%;
}

.date {
    width: 100px;
}

.desc {
    width: 750px;
}

.dropdown-header {
    color: cyan;
}

/* HTML Tag Selectors */
footer {
    margin: 0.5%;
}