/* My Class Selectors */

.header-center {
    justify-content: center;
    text-align: center;
}

.tab-pane,
.accordion {
    margin: 1%;
}

.date {
    width: 100px;
}

.dropdown-header {
    color: cyan;
}

footer {
    margin-left: 0.5%;
}