@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

table th,
table td {
    padding: 0.5rem 0.75rem;
    word-break: keep-all;
    white-space: nowrap;
    vertical-align: middle;
}

.badge-gallery a {
    display: inline-block;
    width: auto;
}

.badge-thumb {
    max-width: 120px;
    width: 100%;
}

.badge-card {
  width: 140px;
  cursor: pointer;
  text-align: center;
};

#badge-container li::before {
    content: none !important;
};

.primary-color {
    color: var(--bs-primary);
}
