@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

table th,
table td {
    padding: 0.5rem 0.75rem;
    word-break: keep-all;
    white-space: nowrap;
    vertical-align: middle;
}

.badge-gallery a {
    display: inline-block;
    width: auto;
}

.badge-thumb {
    height: 100px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.badge-thumb:hover {
    transform: scale(1.05);
}

.badge-card {
  width: 140px;
  cursor: pointer;
  text-align: center;
}

.badge-detail {
    max-width: 90vw;
    max-height: 80vh;
    object-fit: contain;
}

#badge-container li::before {
    content: none !important;
}

.primary-color {
    color: var(--bs-primary);
}
